/* --- Base Styles --- */

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
	background-color: #f8f8ff;
	font-family: "DM Sans", sans-serif;
}

section {
	width: 100%;
	display: flex;
	flex-flow: column wrap;
	align-items: center;	
}

.content-wrapper {
	width: 90%;
	display: flex;
	flex-flow: column wrap;
	text-align: center;
	margin: 1em 0;
	padding: 1em;
	border-radius: 0.5em;
}

h1 {
	font-size: 2.5em;
	width: 70%;
	align-self: center;
	font-weight: 500;
	margin: .4em 0;
	line-height: 1em;
}

h2 {
	align-self: center;
	text-align: left;
	line-height: 1em;
	font-size: 1.75em;
	font-weight: 500;
	margin-top: 0.4em;
}

h3 {
	text-align: left;
	margin: 0;
	font-weight: 600;
	line-height: 1em;
	font-size: 1.3em;

}

img {
	width: 50%;
	align-self: center;
}

p {
	width: 70%;
	font-size: 1.125em;
	align-self: center;
	margin: 0.5em 0 1em;
	line-height: 1em;
}

.group-1 {
	background-color: hsl(256, 67%, 59%);
	color: white;
}

.group-2 {
	background-color: white;
}

.group-3 {
	background-color: hsl(39, 100%, 71%);
}

/* --- Box 1 --- */

.box-1 span {
	color: gold;
}

.box-1 img {
	width: 60%;
}

/* --- Box 2 --- */

.box-2 img {
	width: 100%;
}

.box-2 h3 {
	margin: 1em 0 0;
	width: 90%;
}

/* --- Box 3 --- */

.box-3 .content-wrapper{
	padding-bottom: 0;
}

.box-3 h3 {
	margin: 0 0 1em;
	width: 80%;
}

.box-3 img {
	align-self: flex-start;
	width: 60%;
}

/* --- Box 4 --- */

.box-4 .content-wrapper {
	background-color: hsl(254, 88%, 90%);
}

.box-4 h3 {
	text-align: center;
	margin: 0.5em 0 1em;
}

.box-4 img {
	width: 100%;
}

.box-4 p {
	width: 90%;
	font-size: 1.1em;
	font-weight: 450;
	margin: 1.25em 0 1em;
}

/* --- Box 5 --- */

.box-5 img {
	width: 75%;
}

.box-5 h2 {
	width: 75%;
	margin: 1.5em 0 0;
	text-align: center;
	align-self: center;
}

/* --- Box 6 --- */

.box-6 h1 {
	align-self: flex-start;
	text-align: left;
	margin: 0;
}

.box-6 p {
	align-self: flex-start;
	text-align: left;
}

.box-6 img {
	align-self: flex-start;
	width: 55%;
}

/* --- Box 7 --- */

.box-7 .content-wrapper {
	background-color: hsl(31, 66%, 93%);
	padding: 1em 1.5em;
}

.box-7 em {
	color: hsl(256, 67%, 59%);
}

.box-7 img {
	align-self: flex-start;
	margin-bottom: 1.5em;
}

/* --- Box 8 --- */

.box-8 h2 {
	width: 90%;
}

.box-8 img {
	align-self: flex-start;
	width: 75%;
}


/* --- Attribuiton --- */

.attribution {
	font-size: 11px;
	text-align: center;
}

.attribution a {
	color: hsl(228, 45%, 44%);
}
